<a href="https://colab.research.google.com/github/ThiagoMartins7/Treinando-Python/blob/main/Treinando_Data_Science(Alura).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


import pandas as pd

uri = 'https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula5.1/movies.csv' #Onde os dados estão armazenados
filmes = pd.read_csv(uri) #DataFrame do pandas
filmes.head() #dentro do () você coloca o numero do linhas para ele mostrar

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
filmes.columns = ['filmesId','titulo','generos'] #Mudar o nome das colunas
filmes.head() #dentro do () você coloca o numero do linhas para ele mostrar

,filmesId,titulo,generos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
uri = 'https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv' #Onde os dados estão armazenados
notas = pd.read_csv(uri) #DataFrame do pandas
notas.head() #dentro do () você coloca o numero do linhas para ele mostrar

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
notas.columns = ['usuarioId','filmeId','nota','momento'] #Mudar o nome das colunas
notas.head() #dentro do () você coloca o numero do linhas para ele mostrar

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [ ]:
notas['nota'].head() #é chamado de Series por ser uma sequencia de numeros

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [ ]:
notas['nota'].unique() #Unique é pra mostrar os valores unicos

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [ ]:
notas['nota'].mean() #Mean significa Media

3.501556983616962

In [ ]:
notas.describe() #  Describe é pra ele descrever os dados

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09